<div class="container">
<h1>Search Explorers</h1>

<form action="/search/index" method="get">
  <input type="text" name="search">
  <input class="btn btn-default" type="submit" value="Search">
</form>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <%@users.each do |user|%>
      <%if !user.has_role?(:admin)%>
        <tr>
          <td><a href="/profile/<%=user.username%>"><%=user.username%></a></td>
          <td><%=user.email%></td>
          <td><%=user.user_description%></td>
        </tr>
      <%end%>
    <%end%>
  </tbody>
</table>
</div>
