#adventureMap, #allAdventuresMap {
  width: 500px;
  height: 400px;
}

.thumbnail {
  width: 150px;
  margin-left: 5px;
  margin-right: 5px;
}

.gallery {
  margin-top: 20px;
}

.edit {
  padding-left: 10px;
  padding-bottom: 10px;

}
#profileMap {
  margin-bottom: 20px;
}

#adventureMap {
  margin-bottom: 20px;
}
@media (max-width: 768px){.navbar-fixed-side{margin-left:-15px;margin-right:-15px}}@media (min-width: 768px){.navbar-fixed-side{position:fixed;margin:0 -15px;height:100vh;width:inherit;overflow:auto;border-top-width:0;border-bottom-width:0;border-radius:0}.navbar-fixed-side .container,.navbar-fixed-side .container-fluid{width:auto;padding-left:0;padding-right:0}.navbar-fixed-side .navbar-header{float:none}.navbar-fixed-side .navbar-brand{height:auto}.navbar-fixed-side>.container .navbar-brand,.navbar-fixed-side>.container-fluid .navbar-brand{margin-left:0}.navbar-fixed-side .navbar-collapse{width:100%;border-top:1px solid #e7e7e7}.navbar-fixed-side .navbar-nav{float:none;margin:0 -15px}.navbar-fixed-side .navbar-nav>li{float:none}.navbar-fixed-side .navbar-nav>li>a{padding-top:10px;padding-bottom:10px;border-bottom:1px solid #e7e7e7}.navbar-fixed-side .navbar-form{margin:0;margin-left:-15px;margin-right:-15px;padding:10px 15px;border-bottom:1px solid #e7e7e7}.navbar-fixed-side .navbar-text{float:none;margin-left:0;margin-right:0}.navbar-fixed-side .navbar-left,.navbar-fixed-side .navbar-right{float:none !important}.navbar-fixed-side .navbar-nav .dropdown-menu{position:static;float:none;width:auto;margin-top:0;background-color:transparent;border:0;box-shadow:none;border-bottom:1px solid #e7e7e7}.navbar-fixed-side .navbar-nav .dropdown-menu>li>a,.navbar-fixed-side .navbar-nav .dropdown-menu .dropdown-header{padding:5px 15px 5px 25px}.navbar-fixed-side .navbar-nav .dropdown-menu>li>a{line-height:20px;color:#777}.navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover,.navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus{background-image:none}.navbar-fixed-side .navbar-nav .dropdown-menu>.active>a{background-color:#e7e7e7;color:#555}.navbar-fixed-side .navbar-nav>li>a:hover,.navbar-fixed-side .navbar-nav>li>a:focus,.navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover,.navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus{background-color:#f0f0f0;color:#333}.navbar-fixed-side .dropdown>.dropdown-toggle,.navbar-fixed-side .dropdown-menu>.dropdown-header{background-color:transparent !important;color:#9d9d9d !important;cursor:default;font-size:0.8em;text-transform:uppercase;border-bottom:none;padding-bottom:0}.navbar-fixed-side .dropdown-toggle .caret{display:none}.navbar-fixed-side .dropdown-menu{display:block}.navbar-fixed-side.navbar-inverse .navbar-collapse,.navbar-fixed-side.navbar-inverse .navbar-nav>li>a,.navbar-fixed-side.navbar-inverse .navbar-form,.navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu{border-color:#363636}.navbar-fixed-side.navbar-inverse .divider{background-color:#363636}.navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li>a{color:#9d9d9d}.navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>.active>a{background-color:#090909;color:#fff}.navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.active)>a:hover,.navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.active)>a:focus,.navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:hover,.navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:focus{background-color:#2f2f2f;color:#fff}.navbar-fixed-side.navbar-inverse .dropdown>.dropdown-toggle{color:#777777 !important}}

.bottom-nav {
  padding: 10em 0 0 0;
}

.navbar-fixed-side .navbar-nav>li>a, .navbar-fixed-side .bottom-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none;
  }

.bottom-nav>li {
  position: relative;
  display: block;
  padding: 10px 15px;
  font-size: 1.25em;
}

.bottom-nav>li:hover {
  background-color: #f0f0f0;
  color: #333;
}
.bottom-nav>li>a:hover {
  text-decoration: none;
}

.upper-nav {
  font-size: 20pt;
  margin-top: 18px;
  margin-bottom: 18px;
}

/*li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  color: #f26e20;
  text-decoration: none;
}*/

/*.content {
  margin-left: 20%;
  padding: 1px 16px;
  height: 1000px;
}*/

.logo {
  width: 50%;
}

label.required:after {
    content: " *";
    color: red;
}
ul.adventurefeed {
  list-style-type:none
}

#adventureFeedTitle {
  padding-left: 40px;
}

.blogPosts{
  margin-left: 0px;
  padding-left: 40px;
}
#profileMap {
  width: 500px;
  height: 400px;
}

.follow {
  font-size: 16px;
}

.post-indent{
  text-indent: 15px;
}
.cancel_account {
  margin-top: 200px;
}
/* line 1, /Users/learn/Desktop/urbex_app/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 40px;
  height: 100%;
}

/* line 13, /Users/learn/Desktop/urbex_app/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 20, /Users/learn/Desktop/urbex_app/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.link_orange {
  color: #ff6600;
  font-size: 25px;
}

/* line 26, /Users/learn/Desktop/urbex_app/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 29, /Users/learn/Desktop/urbex_app/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}

/* line 36, /Users/learn/Desktop/urbex_app/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 41, /Users/learn/Desktop/urbex_app/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 49, /Users/learn/Desktop/urbex_app/app/assets/stylesheets/scaffolds.scss */
.login {
  margin-top: 15px;
}

/* line 53, /Users/learn/Desktop/urbex_app/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 300px;
  padding: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-color: #f1f1f1;
}
/* line 61, /Users/learn/Desktop/urbex_app/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 15px;
  margin: -7px;
  margin-bottom: 5px;
  background-color: #f26e20;
  color: #fff;
}
/* line 72, /Users/learn/Desktop/urbex_app/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 78, /Users/learn/Desktop/urbex_app/app/assets/stylesheets/scaffolds.scss */
#welcome-body {
  background-image: url("https://images.unsplash.com/photo-1473225071450-1f1462d5aa92?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=b9a8c2eb2d62137914cc56bba5000d2b");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 1300px;
}

/* line 86, /Users/learn/Desktop/urbex_app/app/assets/stylesheets/scaffolds.scss */
.welcome-div {
  display: table;
  height: 100%;
}

/* line 91, /Users/learn/Desktop/urbex_app/app/assets/stylesheets/scaffolds.scss */
.welcome-blurb {
  padding-top: 350px;
  vertical-align: middle;
  display: table-cell;
  color: white;
  height: 100%;
  width: 100%;
}

/* line 100, /Users/learn/Desktop/urbex_app/app/assets/stylesheets/scaffolds.scss */
.welcome-blurb h1 {
  font-weight: 600;
  text-shadow: 2px 2px 2px black;
  font-size: 36pt;
}

/* line 106, /Users/learn/Desktop/urbex_app/app/assets/stylesheets/scaffolds.scss */
.col-lg-10, .col-sm-9 {
  padding: 0;
}

/* media query to hide background image on home page for mobile devices */
@media (max-width: 767px) {
  /* line 112, /Users/learn/Desktop/urbex_app/app/assets/stylesheets/scaffolds.scss */
  #welcome-body {
    background-image: none;
    background-color: #ff6600;
    margin: -20px;
  }

  /* line 117, /Users/learn/Desktop/urbex_app/app/assets/stylesheets/scaffolds.scss */
  .welcome-blurb {
    padding: 25px 0 0 0;
  }

  /* line 120, /Users/learn/Desktop/urbex_app/app/assets/stylesheets/scaffolds.scss */
  .bottom-nav {
    padding: 1em 0 0 0;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
