<h1>Users</h1>
<table class="table">
  <thead>
    <thead>
      <tr>
        <th>Email</th><th>Role</th><th>Admin-ify</th>
      </tr>
    </thead>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.roles[0].name %></td>
      <td><% if !user.has_role?(:admin) %>
        <%= form_tag("/admin/" + user.id.to_s + "?role=admin", method: :PUT) do %>
          <input class="btn btn-default" type="submit" value="Make Admin"/>
        <% end %>
      <% end %></td>
    </tr>
  <% end %>
  </tbody>
</table>
