
  <div id="welcome-body">
    <div class="welcome-div container">
      <div class="welcome-blurb">
        <h1 class="text-center">URBEX | Explore at your own risk.</h1>
      </div>
    </div>
  </div>
