<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UrbEx</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/welcome.css">

  </head>
  <body id="welcome-body">
    <div class="welcome-div container">
      <div class="welcome-blurb">
        <h1 class="text-center">URBEX | Explore at your own risk.</h1>
      </div>
    </div>
    <!-- <div class="container">
      <h1>UrbEx!</h1>
      <p>Urban exploration: Let's Explore!</p>
      <img class="pic" src="https://hd.unsplash.com/photo-1464965010886-10b9cd325d52"/>
    </div> -->
  </body>
</html>
