<div class="container">
<h1>Editing Adventure</h1>

<div class="row">
  <div class="col-md-6">

    <%= render 'form' %>


    <%= link_to 'Back', @adventure %>

  </div>

  <div class="col-md-6">

    <table class="edit_gallery">
      <tbody>
        <th><p> Click on a photo to delete </p></th>
        <% @images.each do |set_of_images| %>
          <tr>
            <% set_of_images.each do |image| %>
              <td class="edit">
                  <img class="delete" id="<%= image.id %>" src="<%=image.image.url(:thumbnail)%>"/>
              </td>
            <% end %>
          </tr>
        <% end %>
  </div>
</div>
<div>
