
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>UrbEx | About</title>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      <link rel="stylesheet" type="text/css" href="/css/landingpage.css">


    </head>
    <body>


      <div class="container">

        <h1>About UrbEx!</h1>

        <p>
          Urban exploration (often shortened as urbex or UE) is the exploration of man-made structures, usually abandoned ruins or not usually seen components of the man-made environment.
        </p>

        <img class="pic" src="https://hd.unsplash.com/photo-1465449808058-8c2a9a901858"/>

      </div>
    </body>
  </html>
