<html>
<head>
  <meta charset="utf-8">
  <title>UrbEx | About</title>

</head>
<body>
  <div class="container">
    <h1>About UrbEx!</h1><br>
      <h4>The Company</h4>
      <p>
        UrbEx was founded in 2016 by the members of Team Illuminati at LEARN Academy. Our excellent team is composed of five brave and steadfast urban exploring enthusiasts/web-developing extraordinares: Leann, Kelli, Sofie, Adam, and Vivian.
      </p>
      <h4>Urban Exploring</h4>
      <p>
        Urban exploration (often shortened as urbex or UE) is the exploration of man-made structures, usually abandoned ruins or not usually seen components of the man-made environment. Photography and historical interest/documentation are heavily featured in the hobby and, although it may sometimes involve trespassing onto private property, this is not always the case.
      </p>
      <br>
      <h4>
        <strong>Join us as we venture forth into the known and unknown.</strong>
      </h4>
      <br>
    <img class="img-responsive" src="https://hd.unsplash.com/photo-1457449482263-1caf240046cc"/>
  </div>
</body>
</html>
