
.bottom-nav {
  padding: 10em 0 0 0;
}

.navbar-fixed-side .navbar-nav>li>a, .navbar-fixed-side .bottom-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none;
  }

.bottom-nav>li {
  position: relative;
  display: block;
  padding: 10px 15px;
  font-size: 1.25em;
}

.bottom-nav>li:hover {
  background-color: #f0f0f0;
  color: #333;
}
.bottom-nav>li>a:hover {
  text-decoration: none;
}

.upper-nav {
  font-size: 21pt;
  margin-top: 18px;
  margin-bottom: 18px;
}

.lower-nav {
  padding: 0px;
}
/*li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  color: #f26e20;
  text-decoration: none;
}*/

/*.content {
  margin-left: 20%;
  padding: 1px 16px;
  height: 1000px;
}*/

.logo {
  width: 50%;
}

label.required:after {
    content: " *";
    color: red;
}
