

<ul class="blogfeed">
<% @feed.each do |f| %>
  <% f.each do |post| %>
    <li><h3><%= post.title %></h3></li>
    <li><strong><%= post.created_at.strftime("%B, %d, %Y") %></strong></li>
    <li><strong>By:<%= post.user.username %></strong></li>
    <li><%= post.body %></li>
  <% end %>
<% end %>
</ul>
